body
{
	background-size:100%;
	width:100%;
	height: 1700px;
	background-repeat: no-repeat;
	background: linear-gradient(blue 0%, lightblue 100%);
}

	.login_div1 , .login_div2
	{
		background:lightskyblue;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}